.btn-down-arrow{
    width: 50px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.533);
    transition: all 0.3s ease;
    border: none;
}
.btn-down-arrow:hover{
    color: white;
    transform: translate(0, 5px) scale(1.1);
    transition: all 0.3s ease;
}

#icon{
    width: 20px;
    height: 20px;
}

.about{
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-heading{
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
}


.gradient-heading{
    background: #FF6D44;
    background: linear-gradient(to bottom right, #FF6D44 0%, #FFAE00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background: #FF6D44;
    background: linear-gradient(to bottom right, #FF6D44 0%, #FFAE00 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.about-details{
    display: flex;
    width: 90%;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
@media (max-width: 768px){
    .about-details{
        flex-direction: column;
    }
} 

.featured{
    padding: 4rem 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.featured-heading{
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column ;
    width: 100%;
}   

.featured-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 2rem;
}
@media (max-width: 1040px){
    .featured-details{
        width: 90%;
    }
} 
@media (max-width: 768px){
    .featured-details{
        flex-direction: column;
    }
} 
.info-btn{
    width: calc(300px - 2rem);
    height: 300px;
    padding: 0 1rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-width: 2px;
    border-color:  #ff8944;
    border-style: solid;
    border-radius: 2rem;
    color:#ff8944;
    text-align: center;
}
@media (max-width: 320px){
    .info-btn{
        width: 230px;
        height: 230px;
    }
}
.info-btn:hover{
    background-color:#ff8944;
    color: white;
    transition: all 0.3s ease;
}


#icon{
    width: 100px;
    height: 100px;
}