.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    background-color: black;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0rem;
    row-gap: 3rem;
    padding: 4rem 1.5rem;
}