.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    background-color: black;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 4rem;
}