.logo{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background: #FF6D44;
    background: linear-gradient(to bottom right, #FF6D44 0%, #FFAE00 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}